apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: data-ingress-from-business-logic
  namespace: data
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              tier: business-logic
      ports:
        - protocol: TCP
          port: 5432  # PostgreSQL
        - protocol: TCP
          port: 6379  # Redis

