apiVersion: v1
kind: ServiceMonitor
metadata:
  name: api-services-monitor
  namespace: default
  labels:
    app: ecoeco-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
  namespaceSelector:
    matchNames:
      - default
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: waste-api-monitor
  namespace: default
  labels:
    app: waste-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: waste-api
  endpoints:
    - port: http
      interval: 15s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: auth-api-monitor
  namespace: default
  labels:
    app: auth-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: auth-api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: userinfo-api-monitor
  namespace: default
  labels:
    app: userinfo-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: userinfo-api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: location-api-monitor
  namespace: default
  labels:
    app: location-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: location-api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: recycle-info-api-monitor
  namespace: default
  labels:
    app: recycle-info-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: recycle-info-api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: chat-llm-api-monitor
  namespace: default
  labels:
    app: chat-llm-api
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: chat-llm-api
  endpoints:
    - port: http
      interval: 15s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: worker-storage-monitor
  namespace: default
  labels:
    app: worker-storage
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: storage-worker
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: worker-ai-monitor
  namespace: default
  labels:
    app: worker-ai
    monitoring: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ai-worker
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
      scheme: http

