apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: auth
resources:
- deployment.yaml
- service.yaml
- servicemonitor.yaml
# - hpa.yaml  # TODO: 10K+ users 대응 시 활성화
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/part-of: ecoeco-backend
    domain: ext-authz
    tier: business-logic
