apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
images:
- name: docker.io/mng990/eco2
  newTag: location-api-dev-9d3fe5
labels:
- includeSelectors: true
  pairs:
    environment: dev
patches:
- path: patch-configmap.yaml
