apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: calico
spec:
  project: dev
  source:
    helm:
      valuesObject:
        installation:
          calicoNetwork:
            bgp: Disabled
            ipPools:
              - cidr: 192.168.0.0/16
                encapsulation: VXLAN
                natOutgoing: Enabled
                nodeSelector: all()
          nodeMetricsPort: 9091
          typhaMetricsPort: 9093

