apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
spec:
  project: prod
  source:
    helm:
      valuesObject:
        nodeSelector:
          role: control-plane
        tolerations:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
            effect: NoSchedule
          - key: role
            operator: Equal
            value: control-plane
            effect: NoSchedule

