apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: dev
  source:
    helm:
      valuesObject:
        admin:
          existingSecret: grafana-admin
          userKey: admin-user
          passwordKey: admin-password
        serviceAccount:
          create: true
          name: grafana
        service:
          type: ClusterIP
          port: 80
        ingress:
          enabled: false
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 400m
            memory: 1Gi
        replicas: 1
        nodeSelector:
          infra-type: monitoring
        tolerations:
          - key: domain
            operator: Equal
            value: observability
            effect: NoSchedule
        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                access: proxy
                isDefault: true
                url: http://kube-prometheus-stack-prometheus.prometheus:9090
                jsonData:
                  httpMethod: GET

