apiVersion: v1
kind: ConfigMap
metadata:
  name: chat-config
  namespace: chat
data:
  ENVIRONMENT: dev
  DEBUG: 'true'
  CHAT_REDIS_URL: redis://dev-redis-node-0.dev-redis-headless.redis.svc.cluster.local:6379/7
