apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
spec:
  project: dev
  source:
    helm:
      valuesObject:
        fullnameOverride: kube-prometheus-stack
        alertmanager:
          enabled: true
          configExistingSecret: alertmanager-config
          alertmanagerSpec:
            replicas: 1
            storage: {}
            tolerations:
              - key: domain
                operator: Equal
                value: observability
                effect: NoSchedule
            nodeSelector:
              infra-type: monitoring
        grafana:
          enabled: false
        prometheusOperator:
          admissionWebhooks:
            patch:
              enabled: true
          tls:
            enabled: false
          tolerations:
            - key: domain
              operator: Equal
              value: observability
              effect: NoSchedule
          nodeSelector:
            infra-type: monitoring
        prometheus:
          prometheusSpec:
            replicas: 1
            retention: 15d
            nodeSelector:
              infra-type: monitoring
            tolerations:
              - key: domain
                operator: Equal
                value: observability
                effect: NoSchedule
            serviceMonitorNamespaceSelector:
              matchExpressions:
                - key: kubernetes.io/metadata.name
                  operator: In
                  values:
                    - auth
                    - my
                    - scan
                    - character
                    - location
                    - info
                    - chat
                    - postgres
                    - redis
                    - rabbitmq
                    - grafana
                    - prometheus
                    - default
            serviceMonitorSelectorNilUsesHelmValues: false
            additionalScrapeConfigsSecret:
              enabled: false

